<div class="search-container">
  <div class="query center">
    <input
      class="input center"
      type="text"
      name=""
      id=""
      placeholder="search item"
      [(ngModel)]="query"
      (keyup)="search()"
    />
  </div>
  <div class="dates center">
    <div class="dates-item center">
      <label class="label" for="begin">begin</label>
      <input
        class="input center"
        type="date"
        name="begin"
        placeholder="begin date"
        id="begin"
        [(ngModel)]="date.begin"
        (change)="search()"
      />
    </div>
    <div class="dates-item center">
      <label class="label" for="end">end</label>
      <input
        class="input center"
        type="date"
        name="end"
        placeholder="end date"
        id="end"
        [(ngModel)]="date.end"
        (change)="search()"
      />
    </div>
  </div>
</div>
