.search-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.query-item {
  flex: 0 0 35%;
}
.dates-item {
  flex: 0 0 25%;
}
.btn-item {
  flex: 0 0 10%;
}

/* .query {
  flex: 0 0 45%;
  display: flex;
}
.dates {
  flex: 0 0 45%;
  display: flex;
  padding: 5px;
  height: 100%;
} */

.label {
  flex: 0 0 20%;
  text-align: right;
}
.button:hover {
  background-color: red;
  color: white;
}
