.reports-app {
  height: 100%;
  display: flex;
}
.reports-nav {
  flex: 0 0 25%;
  height: 100%;
}
.reports-content {
  flex: 0 0 75%;
  height: 100%;
}
.content {
  height: 85%;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
ul {
  height: 100%;
  list-style: none;
  padding: 10px;
  border-right: 1px solid black;
}
li {
  margin: 5px auto;
  height: 5vh;
  width: 50%;
  font-size: large;
  background-color: rgb(169, 215, 231);
}
.active {
  background-color: black;
  color: white;
}
li:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.space {
  height: 15%;
  background-color: rgb(214, 216, 219);
}

.label {
  text-align: right;
}
.loading {
  display: none;
}
.button {
  font-size: smaller;
  cursor: pointer;
  background-color: black;
  color: white;
}
.button:hover {
  background-color: blue;
}
.stat-title {
  text-align: center;
  font-size: medium;
  margin: 5px 0;
}
