<div class="detailed">
  <table *ngIf="!detailed">
    <thead>
      <tr>
        <th>medicine</th>
        <th>unit</th>
        <th>quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of reduceCurrentStatistics()">
        <td>{{ s.commodity }}</td>
        <td>each</td>
        <td>{{ s.quantity }}</td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="detailed">
    <thead>
      <tr>
        <th>date</th>
        <th>client</th>
        <th>medicine</th>
        <th>unit</th>
        <th>quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of statistics">
        <td>
          <span>{{ getDate(s) }}</span>
          <span class="time">{{ getTime(s) }}</span>
        </td>
        <td>{{ s.client }}</td>
        <td>{{ s.commodity }}</td>
        <td>each</td>
        <td>{{ s.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
