.detailed {
  height: 100%;
  overflow-y: scroll;
}

.detailed::-webkit-scrollbar {
  display: none;
}
table {
  width: 75%;
  border-collapse: collapse;
  margin: 2px auto;
}
th,
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  text-align: left;
  font-size: large;
}
tbody tr:hover {
  background-color: rgb(185, 245, 97);
}
