.dispense-app {
  display: flex;
  height: 100%;
}
.dispense-form {
  flex: 0 0 35%;
  height: 100%;
}
.dispense-items {
  flex: 0 0 65%;
  height: 100%;
}
.dispense-content {
  height: 78%;
  position: relative;
  overflow-y: scroll;
}
.dispense-content::-webkit-scrollbar {
  display: none;
}
h2 {
  color: white;
  padding: 2px;
}
button {
  border: 1px solid white;
  box-shadow: 2px 2px white;
  margin-left: 15px;
}
button:hover {
  background-color: black;
  color: white;
}
.form {
  height: 85%;
}
