<div class="store-select center theme-color" *ngIf="!loading">
  <div class="login-container" *ngIf="!loggedIn">
    <app-login [users]="users" (onLogin)="login($event)"></app-login>
  </div>
  <div class="card" *ngIf="loggedIn">
    <div class="color"></div>

    <div class="formgroup">
      <label class="label" for="store">select clinic</label>
      <select class="select" name="" id="" [(ngModel)]="outlet">
        <option value="" disabled></option>
        <option *ngFor="let store of authStores" [value]="store.name">
          {{ store.name }}
        </option>
      </select>
      <button class="button" (click)="setOutlet()">GO TO CLINIC</button>
    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <app-loader [message]="message"></app-loader>
</div>
