<div class="dispense-app" *ngIf="!loading">
  <div class="dispense-form">
    <div class="space center" [style]="{ color: 'white' }">DISPENSE FORM</div>
    <div class="form">
      <app-dispense-form
        [(date)]="date"
        (onAdd)="add($event)"
      ></app-dispense-form>
    </div>
  </div>
  <div class="dispense-items">
    <div class="space">
      <h2 class="center">
        items :{{ items.length }} dispensed:{{ submitted }} prescriptions:
        {{ prescriptions
        }}<button (click)="downloadCSV()">
          <span><fa-icon [icon]="icon"></fa-icon></span> SAVE AS EXCELL
        </button>
      </h2>
    </div>
    <div class="dispense-content">
      <app-dispense-items
        [items]="items"
        (onDelete)="remove($event)"
      ></app-dispense-items>
    </div>

    <div class="dispense-footer" *ngIf="items.length > 0">
      <button class="button" (click)="submit()">SUBMIT REQUEST</button>
    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <app-loader [message]="message"></app-loader>
</div>
