.app {
  background-color: lightgrey;
  height: 100vh;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.component {
  width: 60%;
  height: 30%;
  background-color: white;
  padding: 50px;
}
p {
  margin: 8px 2px;
}
span {
  background-color: blue;
  color: white;
  padding: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
