<div class="main-header theme-color">
  <div class="main-header-item logo">
    <a class="center" href="/">PHARMACY/{{ outlet | lowercase }}</a>
  </div>
  <nav class="main-header-item">
    <ul class="center full">
      <li class="center">
        <a class="center" routerLink="/app/dispense">DISPENSE</a>
      </li>
      <li class="center">
        <a class="center" routerLink="/app/import">IMPORT</a>
      </li>
      <li class="center">
        <a class="center" routerLink="/app/stock">STOCK</a>
      </li>
      <li class="center">
        <a class="center" routerLink="/app/report">REPORTS</a>
      </li>
    </ul>
  </nav>
  <div class="main-header-item"></div>
</div>
